/******************GENERAL OPTIONS******************/

* {
    box-sizing: border-box;
}
/*body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d6f3ff;
    font-size: 14px;
    font-weight: 400;
}*/
a {
    text-decoration: none;   
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.container {
    max-width: 1300px;
    padding: 0px 20px;
    margin: 0px auto; 
    box-sizing: content-box;
}
/*****************MAIN***********************/
.main_block_body {
    padding: 200px 0px 100px 0px;
}
.title_page {
    font-size: 45px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #165570;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 0px;
}
.form * {
    outline: none;
    border: none;
}
.form_label {
    font-size: 22px;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
    color: #165570;
    margin: 0px 0px 20px 0px;
}
.form_input {
    height: 50px;
    width: 500px;
    border-radius: 40px;
    padding: 16px 20px;
    font-size: 18px;
    font-family: 'Play', sans-serif;
    color: #165570;
    letter-spacing: 1px;
    margin: 0px 0px 50px 0px;
}
.form_input:focus {
    box-shadow: 0px 0px 12px #3a94ba;
}
.form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #165570;
    background-color: #ffffff;
    color: #165570;
    cursor: pointer;
    transition: all ease .3s;
}
.form_button:hover {
    background-color:#165570;
    color: #ffffff;
}